<% if @came_from_index_page %>
	<%= link_to "page #{@page + 1}", results_path(@page + 1, locals: {came_from_index_page: true}), :remote => true %>
<% else %>
	<%= link_to "page #{@page + 1}", results_path(@page + 1, locals: {query_params: params}), :remote => true %>
<% end %>

<!-- 	if all_pets == true (came from index)
		include index in locals to get index query
	if all_pets doesnt exist (came from results page)
		pass the params that include just the search result
 -->
<div id="pet-render" class="grid">

  <%# pets[0..30].each do |pet| %>
  <% pets.page(@page).each do |pet| %>
    
		<div class="grid-item">
			<a href="https://www.petfinder.com/petdetail/<%= pet.petfinderid %>" class="plain-link" target="_blank" style="text-decoration: none;">
		  	<p class="custom-left" style="margin-left: 13px"><%= pet.name %></p><%= render "favorite", :pet => pet %>
		    <% if pet.primary_photo %>
		      <img src="<%= pet.primary_photo.split('?')[0] %>" width=200>
		    <% end %>
		  </a>

		  <p style="font-size: 10px"><% if pet.new_pet %><span style="font-weight: bold;">NEW! </span><% end %>Added on <%= pet.created_at.strftime("%B %d, %Y") %></p>
		  
		</div>
  <% end %>
</div>