<%= form_tag("/results", method: "get", :remote => true) do %>
  <fieldset>
    <legend>Filter Results:</legend>
    <div class="form-group">

      <!-- breed -->
      <div id="breed-single"> 
        Breed <%= select_tag('breed_ids[]', options_for_select(@breeds.collect {|breed| [breed.name, breed.id]}.unshift("Any")), :class => "form-control", :id => "select") %>
        <a href="#" id="choose_multiple_breeds">Choose Multiple</a>
        <a href="#" class="soph_breeds">Soph Brandon Breeds</a>
      </div>

      <div id="breed-multiple" class='hide'>
        <a href="#" id="deselect_all" class="hide">Deselect All</a>
        <a href="#" id="select_all">Select All</a>
        <a href="#" class="soph_breeds">Reset Soph Brandon Breeds</a>
        <a href="#" id="choose_single_breed" class="custom-right">Back to List</a>

        <% breed_count = @breeds.count %>
        <% breed_table = @breeds.each_slice((breed_count/5.0).ceil).to_a %>
        <table>
          <tr>
          <% breed_table.each do |ary| %>
            <td valign="top">
            <% ary.each_with_index do |breed, index| %>
            <p style="margin: 2px">
              <% if breed.hub_exclude then ckbox_class = 'hub-exclude' else ckbox_class = 'soph-ok' end %>
              <%= check_box_tag('breed_ids[]', breed.id, false, :class => 'breed-checkbox ' + ckbox_class) %>
              <%= label_tag('breed_ids[]', breed.name) %>
            </p>
            <% end %>
            </td>
          <% end %>
          </tr>
        </table>
      </div>
      
      <!-- size -->
      <div> 
        Size
        <%= check_box_tag(:small, 1, true) %>
        <%= label_tag(:small, "Small") %>
        <%= check_box_tag(:medium, 1, true) %>
        <%= label_tag(:medium, "Medium") %>
        <%= check_box_tag(:large, 1, true) %>
        <%= label_tag(:large, "Large") %>
        <%= check_box_tag(:xlarge, 1, true) %>
        <%= label_tag(:xlarge, "X-Large") %>
      </div>

      <div> <!-- age -->
        Age
        <%= check_box_tag(:baby, 1, true) %>
        <%= label_tag(:baby, "Baby") %>
        <%= check_box_tag(:young, 1, true) %>
        <%= label_tag(:young, "Young") %>
        <%= check_box_tag(:adult, 1, true) %>
        <%= label_tag(:adult, "Adult") %>
        <%= check_box_tag(:senior, 1, true) %>
        <%= label_tag(:senior, "Senior") %>
      </div>

      <div> <!-- zip -->
        <%= label_tag(:zip, "Zip Code") %> <!-- make this required -->
        <%= text_field_tag(:zip, 10014) %>
      </div>

      <div> <!-- radius -->
        <%= label_tag(:radius, "Radius") %>
        <%= text_field_tag(:radius, 25) %> mi
      </div>

      <div> <!-- sex -->
        Sex
        <%= check_box_tag(:female, 1, true) %>
        <%= label_tag(:female, "Female") %>
        <%= check_box_tag(:male, 1, true) %>
        <%= label_tag(:male, "Male") %>
      </div>

      <div> <!-- created date -->
        <%= label_tag(:created, "Added in the last") %>
        <%= text_field_tag(:created, 90) %> days
      </div>

      <% if user_signed_in? %>
        <%= check_box_tag(:save_selections, 1, true) %>
        <%= label_tag(:save_selections, "Save Selections") %>
      <% end %>

      <%= submit_tag("Search", :class => "btn btn-primary") %>
    </div>
  </fieldset>
<% end %>