<!-- This creates a search form. But really what I want is a landing page that allows users to filter by NEWNESS as well as pet characteristics. -->
<!-- Alternatively, I can present a search form and then allow users to filter by newness. DB updates can be powered by user searches - but that will slow down the app. "Distributed crawler system" -->

<%= form_tag("/results", method: "get") do %>
  <fieldset>
    <legend>Search Pets:</legend>
    <div class="form-group"> <!-- i think this came from bootstrap -->
      <div>
				<%= select_tag(:breed, options_for_select(@breeds.collect {|breed| [breed.name, breed.id]}), :class => "form-control", :id => "select") %>
      </div>

			<div>
        <%= check_box_tag(:small) %>
        <%= label_tag(:small, "Small") %>
        <%= check_box_tag(:medium) %>
        <%= label_tag(:medium, "Medium") %>
        <%= check_box_tag(:large) %>
        <%= label_tag(:large, "Large") %>
    	</div>
      
<!-- zip -->
<!-- distance -->
<!-- sex -->
<!-- created date -->

      <%= submit_tag("Search", :class => "btn btn-primary") %>
    	<!-- yields search results url: http://localhost:3000/results?utf8=%E2%9C%93&breed=1&small=1&commit=Search -->
    </div>
  </fieldset>
<% end %>