<!DOCTYPE html>
<html>
<head>
  <title>PetfinderRails5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

	<div id="landing">
	  <div>
	    <ul class="nav navbar-nav navbar-right">
	      <% if user_signed_in? %>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hello, <%= current_user.email %>! <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="<%= user_pet_path(current_user) %>">My Favorite Pets</a></li>
	            <li><a href="<%= edit_user_registration_path %>">My Account</a></li>
	          </ul>
	        </li>
	        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
	      <% else %>
	        <li><%= link_to "Sign In", new_user_session_path %></li>
	      <% end %>
	    </ul>
	  </div>
	</div>

<%= yield %>

</body>
</html>
